@font-face{
    font-family: "fuente1"; 
    src: url("fonts/Anton-Regular.ttf"); 
}

@font-face{
    font-family: "fuente2"; 
    src: url("fonts/Inconsolata-VariableFont_wdth\,wght.ttf"); 
}

@font-face{
    font-family: "fuente3"; 
    src: url("fonts/Karla-VariableFont_wght.ttf"); 
}

@font-face{
    font-family: "fuente4"; 
    src: url("fonts/LeagueSpartan-VariableFont_wght.ttf"); 
}

